@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    background: linear-gradient(135deg, #e0e7ff 0%, #f3f4f6 100%);
    font-family: 'Poppins', ui-sans-serif, system-ui;
    color: #1e293b;
    overflow-x: hidden;
}

@media screen and (max-width: 700px){
    .carousel{
        width: 100vw;
    }
}